<div class="jumbotron">
  <div class="text-center mb-3">
    <h1>WELCOME TO {{ title }} </h1>
  </div>
  <div class="row mt-3">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <dt>{{ movies.no_time_to_die }}</dt>
            <dd>{{ no_time_to_die }}</dd>
            <dt>{{ movies.quendoom }}</dt>
            <dd>{{ quendoom }}</dd>
            <dt>{{ movies.red_notice }}</dt>
            <dd>{{ red_notice }}</dd>
            <dt>{{ movies.star_wars }}</dt>
            <dd>{{ star_wars }}</dd>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-3">
          <div class="card h-100">
            <img class="card-img-top" src="../assets/images/no_time_to_die.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ movies.no_time_to_die }}</h4>
            </div>
            <div class="card-footer">
              <div class="row align-content-center">
                <div class="col-12">
                  <button class="btn btn-primary" [disabled] = "anySelected() && !isSelected(0)" (click)="vote(0)">{{ getButtonText(0) }} </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <img class="card-img-top" src="../assets/images/quendoom.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ movies.quendoom }}</h4>
            </div>
            <div class="card-footer">
              <div class="row align-content-center">
                <div class="col-12">
                  <button class="btn btn-primary" [disabled] = "anySelected() && !isSelected(1)" (click)="vote(1)">{{ getButtonText(1) }} </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <img class="card-img-top" src="../assets/images/red_notice.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ movies.red_notice }}</h4>
            </div>
            <div class="card-footer">
              <div class="row align-content-center">
                <div class="col-12">
                  <button class="btn btn-primary" [disabled] = "anySelected() && !isSelected(2)" (click)="vote(2)">{{ getButtonText(2) }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <img class="card-img-top" src="../assets/images/star_wars.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ movies.star_wars }}</h4>
            </div>
            <div class="card-footer">
              <div class="row align-content-center">
                <div class="col-12">
                  <button class="btn btn-primary" [disabled] = "anySelected() && !isSelected(3)" (click)="vote(3)">{{ getButtonText(3) }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
